pipeline/Sales_AzureSQL_Dimensions.json
{
	"name": "Sales_AzureSQL_Dimensions",
	"properties": {
		"activities": [
			{
				"name": "TableListDIM",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT\nTABLE_SCHEMA,\nTABLE_NAME\n\nFROM\nINFORMATION_SCHEMA.TABLES\n\nWHERE\nTABLE_SCHEMA = 'sales' AND\n\nTABLE_NAME in (\n    'customers',\n    'order_items',\n    'orders',\n    'staffs',\n    'stores'\n)",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "BikeDB",
						"type": "DatasetReference",
						"parameters": {
							"schema": "INFORMATION_SCHEMA",
							"table_name": "TABLES"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "CopyData",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "TableListDIM",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('TableListDIM').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "CopyDataSTG",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"preCopyScript": {
										"value": "@{concat('DROP TABLE IF EXISTS stg.Sales_', item().TABLE_NAME)}",
										"type": "Expression"
									},
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "BikeDB",
									"type": "DatasetReference",
									"parameters": {
										"schema": {
											"value": "@item().TABLE_SCHEMA",
											"type": "Expression"
										},
										"table_name": {
											"value": "@item().TABLE_NAME",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "BikeDW",
									"type": "DatasetReference",
									"parameters": {
										"TABELA": {
											"value": "@concat('Sales_', item().TABLE_NAME)",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "MergeDIM",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "CopyData",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dw].[BIKE_MERGE_DIMENSIONS]"
				},
				"linkedServiceName": {
					"referenceName": "BikeDW",
					"type": "LinkedServiceReference"
				}
			}
		],
		"folder": {
			"name": "Sales"
		},
		"annotations": []
	}
}